<!-- site info -->
<div class="mb-5 container-fluid">
    <hr>
    <p> CouldStudying | <a href="#">Privacy</a> | <a href="#">Terms</a> </p>

</div>
    <script src="/jquery/js/jquery-3.7.1.min.js"></script>
    <script src="/component/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/component/js/bootstrap.js"></script>
</body>
</html>